<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>

<header class="topHeader" th:fragment="guestHeader(currentPage)">
    <div class="inner">
        <div class="brand">
            <a class="brandText" th:href="@{/stock}">Stoxle</a>
        </div>

        <div class="menu">
            <th:block th:if="${currentPage == 'login'}">
                <span class="currentPage">로그인</span>
                <a th:href="@{/register}" class="clicked">회원가입</a>
            </th:block>

            <th:block th:if="${currentPage == 'register'}">
                <span class="currentPage">회원가입</span>
                <a th:href="@{/login}" class="unclicked">로그인</a>
            </th:block>

            <th:block th:if="${currentPage != 'login' and currentPage != 'register'}">
                <a th:href="@{/login}" class="unclicked">로그인</a>
                <a th:href="@{/register}" class="clicked">회원가입</a>
            </th:block>
        </div>
    </div>
</header>

</body>
</html>